.user-profile {
    padding: 20px;
  }
  
  .user-profile h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .user-profile h2 {
    font-size: 1.5em;
    color: gray;
  }
  
  .userposts {
    width: 60%;
    margin-top: 20px;
    border: 2px solid black;
    display: flex ;
    flex-wrap: wrap;
    margin-left: 390px;

  }
  
  .user-posts .post {
    margin-bottom: 15px;
  }
  
  .user-posts .post img {
    width: 90%;
    max-width: 500px;
    height: auto;
  }
  
  .user-posts .post p {
    margin-top: 5px;
  }

  .userprofiletop{
    height: 50px;
    display: flex;
    height: 250px;
    align-items: center;
    padding-top: 10px;
    font-size: 22px;
    margin-left: 390px;
    border-bottom: 1px solid #ddd;
    border: 2px solid rgb(210, 37, 37);
}

.user-profile-photo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid black;
}
.user-profile-name{
  
  font-weight: bold;
}

.post-image{
  width: 100%;
  height: 300px;
  border: 2px solid black;
}